@model Rahmano_Case.Models.Users

@{
    ViewBag.Title = "Biodata";
}

<h2>Biodata @Session["User_Name"]</h2>

@using (Html.BeginForm("Biodata", "Users", FormMethod.Post, new { id = "registration-form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div hidden="hidden">
            @Html.EditorFor(model => model.User_Pwd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(model => model.Is_Active, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.User_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.User_Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Sex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                Male  @Html.RadioButtonFor(model => model.User_Sex, "M")
                &nbsp;&nbsp;&nbsp;Female @Html.RadioButtonFor(model => model.User_Sex, "F")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.User_BirthDate, new { @type = "date", @class = "form-control datepicker", @Value = Model.User_BirthDate.ToString("yyyy-MM-dd") })

                @Html.ValidationMessageFor(model => model.User_BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Photo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.User_Photo != null)
                {
                    var imgSrc = $"data:image/jpg;base64,{Convert.ToBase64String(Model.User_Photo)}";
                    <img id=@("User_Photo") src="@imgSrc" alt="Gambar" style="height:200px;" />
                }
                else
                {
                    <img id=@("User_Photo") alt="Gambar" style="width:200px;height:100px;" />
                }
                <input type="file" name="file" id="file" style="width: 100%;" onchange="readURL(this.value)" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Login, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Login, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Login, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                @if (Session["User_Name"] != null)
                {
                    <input type="submit" id="cmdSave" value="Save" style="width:90px;" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" id="cmdSave" value="Save" disabled="disabled" style="width:90px;" class="btn btn-default" />
                }
            </div>
            <div class="col-md-1">
                <input type="button" id="cmdCancel" value="Cancel" style="width:90px;" class="btn btn-default" />
            </div>
            <div class="col-md-10">
                &nbsp;
            </div>
        </div>
    </div>
}

<div class="form-group">
    <label class="control-label col-md-2">&nbsp;</label>
    <div class="col-md-10">
        @Html.ActionLink("Change Password", "changepass")
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $('#cmdSave').click(function () {
            alert('Simpan');
        });

        $('#cmdCancel').click(function () {
            window.location.replace("/");
        });

        $('#cmdPwd').click(function () {
            window.location.replace("/users/changepass");
        });

        //Update Photo
        $("#file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#User_Photo').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
}